# set java home
export JAVA_HOME=$(/usr/libexec/java_home)

# Make vim the default editor.
export EDITOR='vim';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Maven
export M2_HOME="/Users/timvissers/dvl/tools/apache-maven-3.0.5"
export M2="$M2_HOME/bin"
export MAVEN_OPTS="-Xms512m -Xmx1024m -XX:MaxPermSize=1024m"

